streamlit
streamlit-option-menu
transformers
streamlit-lottie
googletrans==3.1.0a0
sentence-transformers
langchain
google-generativeai
PyPDF2
pinecone-client
requests
keras-ocr
pandas
numpy
opencv-python
reportlab
gtts
matplotlib
spacy
metaphor-python
tensorflow==2.15.1
